/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-x: hidden;
  font-size: 14px;
}

p,
.form-top-bar,
.why_tally p {
  margin: 0;
}

/* Navigation section */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0 3%;
  line-height: 1;
}

.company-logo {
  max-width: 140px;
  display: block;
  margin: -25px 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

.company-telephone {
  max-width: 30px;
  height: auto;
  display: block;
}

/* Banner */
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tally-banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.tally-banner-1,
.tally-banner-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tally-banner-1 {
  gap: 50px;
  width: 55%;
}

.tally-banner-2 {
  width: 45%;
}

.tally-banner-2 img {
  width: 100%;
  height: 27%;
}
.tally-banner-2-img-below-main-banner {
  display: none;
}
.whatsappus {
  display: none;
}

.whatsappus-below-main-banner,
.whatsappus,
.whatsappus2 {
  max-width: 180px;
  padding: 10px 20px;
  background-color: #25d366;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid #25d366;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.whatsappus2 {
  height: 50px;
}
.whatsappus {
  display: none;
}

.whatsappus:hover {
  background-color: white;
  color: #25d366;
}

/* Form modal */
#formModal {
  position: fixed;
  left: 37%;
  top: 15%;
  width: 26%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  padding: 0;
  border-radius: 10px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 20px;
  color: #2d3748;
}

.form-top-bar {
  border-radius: 10px 10px 0 0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1ea3c6;
  padding: 5%;
}

.input-field,
.form-buttons {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  width: 92%;
}

.input-field input,
.input-field textarea {
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.form-button {
  background-color: #1ea3c6;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  height: 30px;
}

.close-button {
  background-color: white;
  border: 1px solid gray;
  color: black;
}

textarea {
  height: 80px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-below-main-banner {
  display: none;
}
@media (max-width: 764px) {
  #formModal {
    width: 90%;
    top: 10%;
    left: 5%;
  }
}

/* Sections and content */
.motto {
  margin-top: 10px;
  background: url("./img/motto.jpg") center/cover fixed;
  padding: 4%;
  color: white;
  line-height: 2rem;
  font-size: 20px;
}

.why_tally {
  margin-top: 50px;
  display: flex;
  gap: 5%;
  padding: 0 4%;
  flex-wrap: wrap;
}

.why_tally h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
}

.why_tally-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  font-size: 14px;
}

.why_tally-img {
  width: 45%;
}

/* Features section */
.features {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6bbee6;
}

.features_section {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.features_section_text,
.features_section_img {
  width: 40%;
}

.features_section_text h2 {
  line-height: 2rem;
  font-size: 32px;
  margin-bottom: 20px;
}

/* Get more section */
.get-more {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url("./img/get_more/main.svg");
}

.get-more-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 50px;
}

.get-more-section-img-container {
  height: 450px;
  background-size: cover;
}

.get-more-section-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  width: 40%;
}

/* Rate cards */
.rate-cards {
  margin-top: 100px;
  padding: 0 4%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.rate-card {
  max-width: 350px;
  padding: 50px 38px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.65);
  text-align: center;
}

.rate-card-logo {
  width: 36%;
  margin-bottom: 16px;
}

.rate-card-plan {
  font-weight: 600;
  font-size: 28px;
  color: #686868;
  margin-bottom: 25px;
}

.rate-card-price {
  font-size: 44px;
  margin-bottom: 25px;
  line-height: 2.5rem;
}

.enquire-now-button,
.rate-card-btn,
.buy-now-btn {
  background-color: #ffc632;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 24px;
  border: 0;
}

.enquire-now-button {
  font-size: 22px;
  margin-top: -50px;
  margin-bottom: 100px;
}

.enquire-now-btn {
  position: fixed;
  right: 0;
  top: 45vh;
  padding: 12px 14px;
  background-color: #4dbbc2;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  writing-mode: vertical-lr;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .tally-banner-1 {
    width: 100%;
  }
  .tally-banner-2 {
    display: none;
  }
  .form {
    display: none;
  }
  .whatsappus {
    display: inline-block;
  }
  .banner-container {
    height: 1000px;
  }
  .whatsappus {
    display: block;
  }
  .whatsappus-below-main-banner {
    display: none;
  }
  .form-below-main-banner {
    display: block;
    height: 700px;
  }
  .tally-banner-2 img {
    height: 50%;
  }
  .company-logo {
    max-width: 150px;
  }
  .nav-right {
    font-size: 1.3rem;
  }
  .tally-banner-2-img-below-main-banner {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4%;
    justify-content: space-between;
    margin: 30px 0;
  }
  .tally-banner-2-img-below-main-banner img {
    width: 30%;
  }
  .whatsappus {
    font-size: 14px;
    max-width: 140px;
  }
  .motto {
    margin-top: -420px;
    font-size: 14px;
  }
}
